.container {
  max-width: 600px;
}

#user-email {
  margin-right: 10px;
}

#user-password {
  margin-right: 10px;
}

#team .total {
  font-weight: bold;
}

#players-title {
  cursor: pointer;
}

#players {
  display: none;
}

#players-title:hover {
}